/* ********css general******* */
/* ************************** */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&family=Montserrat:ital,wght@0,700;1,400;1,900&display=swap');
:root{
    --grey: 228, 225, 218;
    --grey: 204, 194, 173;
}
body {
    font-family: "Montserrat" sans-serif;  
    background: linear-gradient(to top right, rgb(243, 228, 228), rgb(204, 194, 173));
}
#logo {
    max-width: 30px;
    max-height: 30px;
}
h2 {
    font-size: 30px;
    font-weight: bold;
}
html {
    scroll-behavior: smooth;
  }
.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}
i:hover {
    animation: myAnim 1s ease 0s 1 normal forwards;
    cursor: pointer;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(0);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}
.btn-main {
    margin: auto;
    padding: 5px;
	border:1px solid #0d0e0d;
	display:inline-block;
	cursor:pointer;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ********* #home header ********** */
/* ********************************* */
#header {
    height: 85vh;
    text-align: center;
    padding: 5px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#header nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.navbar-links {
    display: flex;
    color: rgb(54, 3, 3);
    font-weight: 600;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links ul a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    display: block;
}
.navbar-links li a:hover {
    background-color: rgb(24, 12, 55);
    color: white;
}
#header .h1 {
    margin: 60px 0;
    color: rgb(2, 31, 2);
    display: flex;
    justify-content: space-between;
}
#header .h1 p {
    padding: 60px 0;
}
#header .h1 i {
    color: rgb(27, 25, 34);
    padding: 10px;
}
#header .h1 img {
    border-radius: 50%;
}
#profilePic img {
    max-height: 300px;
}
.toggle-Button {
    position: absolute;
    top: 16px;
    right: 16px;
    flex-direction: column;
    display: none;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.toggle-Button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(80, 77, 77);
    border-radius: 10px;
}
 .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in-out forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
/* ************** contacts popup*********** */
/* **************************************** */
.info {
    display: none;
    position: absolute;
    background-color: rgba(24, 12, 55, 0.856);
    border: 1px solid rgb(10, 10, 10);
    padding: 5px;
    width: 100%;
text-align: center;
animation: myAnim 2s ease 0s 1 normal forwards;
  }
  @keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}
	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
  #contacts {
    position: relative;
    cursor: pointer;
  }
  
  #contacts:hover .info {
    display: block;
  }
  /* *********** #project ********** */
  /* ******************************* */
  #project {
    background-color: rgb(255, 255, 255);
  }
  #project h2 {
    padding-top: 20px;
  }
  #project div {
    height: 150px;
    border: 1px solid black;
  }
  #project .div1, #project .div3 {
    margin-left: -12px;
  }
  #project .div2, #project .div4 {
    margin-right: -12px;
  }
  .div1, .div2, .div3, .div4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div1:hover, .div2:hover, .div3:hover, .div4:hover {
    background-color: rgb(24, 12, 55);
    color: white;
    cursor: pointer;
  }
  .div1:hover h3, .div2:hover h3 , .div3:hover h3 , .div4:hover h3  {
    animation: myAnim 2s ease 0s 3 normal forwards;
  }
  @keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
/* ***********  #FOOTER ************ */
/* ********************************* */
#footer {
    background-color: rgba(0, 0, 0, 0.986);
    padding: 5px;
}
#footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#footer ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
#footer ul li a:hover {
    color: rgb(102, 96, 131);
}
/* *************PAGE COMPETENCE************* */
/* ***************************************** */
#cv {
    height: 100px;
}

#pdf {
    background-color: blueviolet;
    border-radius: 10px;
}
#cv .navbar-links li {
    padding-top: 20px;
}
#competence {
    border: 1px solid rgb(0, 0, 0);
}
#competence h2 {
    text-transform: uppercase;
    font-size: 20px;
}
#competence aside {
    background-color: #241c1d;
    color: whitesmoke;
    padding-left: 20px;
}
#competence aside ul li i {
    padding: 0 30px;
}
#competence aside h2 {
    margin-top: 50px;
}
#competence aside ul {
    margin-top: 20px;
}
#competence aside li {
  margin-left: 50px;  
}
#competence main {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
#competence main div {
    display: flex;
    justify-content: space-between;
}
#competence main div h4 {
    font-weight: bold;
}
#competence main li {
    margin-left: 20px;
}
#competence main h3 {
    font-weight: bold;
}
#cvProfileB {
    background-color: #ffffff;
    padding: 30px;
}
#whiteB {
    background-color: #241c1d;
    padding: 30px;
}
#cvProfile {
    justify-content: space-between;
    display: flex;
    background-color: rgb(72, 72, 196);
    color: white;
}
#cvProfile img {
    max-height: 200px;
    border-radius: 45%;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}
/* *********** RESPONSIVE ********** */
/* ********************************* */
@media screen and (max-width: 768px) {
    #header {
        height: 85vh;
    }
    #header .h1 {
        padding: 10px;
    }
    #contacts {
        margin-top: 40px;
    }
    #header .h1 i {
        padding: 3px;
    }
    #profilePic img {
        max-height: 200px;
    }
    #header .h1 p {
        padding: 30px 0;
    }
    #devIcons p {
        margin: 30px;
    }
    /* page competences */
    #cvProfile h1{
        font-size: 16px;
    }
    #cvProfile img {
        max-height: 140px;
    }
}
@media screen and (max-width: 480px) {
    .toggle-Button {
        display: flex;
    }
    header nav {
        display: block;
    }
    header .navbar-links li a:hover {
        background-color: rgba(46, 95, 72, 0.603);
    }
    .navbar-links {
        display: none;
        margin-top: 10px;
        width: 100%;
    }
    #header nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        margin-bottom: 50px;
        flex-direction: column;
        width: 100%;
    }
    .navbar-links ul li {
        background-color: rgba(17, 17, 17, 0.116);
        text-align: center;
    }
    .navbar-links ul li a {
        padding: 10px;
    }
    .navbar-links.active {
        display: flex;
    }
    #header .h1 {
        display: block;
        margin: 10px 0;
        gap: 0;
    }
    #header .h1 p {
        padding: 20px 0;
    }
    #devIcons {
        text-align: center;
    }
    #devIcons ul i {
        justify-content: center !important;
    }
    #devIcons.active {
        display: none;
    }
    #header .h1 i {
        padding: 3px;
        text-align: center;
    }
    #profilePic img {
        max-height: 150px;
    }
    #profilePic {
        margin-top: 60px;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    /* page competence */
    #cv {
        height: 150px;
    }
    #cv .navbar-links li {
        padding-top: 0;
    }
    #pdf {
        border-radius: 0;
    }
    #whiteB {
        background-color: #ffffff;
        padding: 30px;
    }
    #cvProfileB {
        background-color: #241c1d;
        padding: 30px;
    }
    #cvProfile img {
        max-height: 80px;
    }
    #competence main li, #competence aside li, #competence h2 {
        margin-left: 0;
    }
    #competence h2 {
        font-size: 16px;
    }
    #competence aside div  {
       margin-top: 180px;
    }
    #cvProfile h1{
        font-size: 12px;
    }
  } 